body {
    font-family:helvetica;
    background-color:rgb(37, 37, 37);
    
}

nav
{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid ;
}